@import '../../styles/colors';

.toggle {
  padding-top: 1rem;
}

.toggle__label {
  position: relative;
  padding-left: 5.2rem;
  padding-top: 0.5rem;
}

.toggle__label::before {
  content: '';
  position: absolute;
  top: 0;
  left: -0.8rem;
  width: 5rem;
  height: 2.5rem;
  background-color: $neutral-7;
  border-radius: 2.5rem;
  transition: background-color 0.3s;
}

.toggle__label:after {
  content: '';
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: white;
  top: 0.25rem;
  left: -0.55rem;
  transition: transform 0.3s;
}

.toggle input[type='checkbox']:checked + .toggle__label::after {
  transform: translateX(2.5rem);
}

.toggle input[type='checkbox']:checked + .toggle__label::before {
  background-color: $supporting-pink-7;
}

.toggle input[type='checkbox']:checked:focus + .toggle__label::before {
  border: 2px solid $supporting-pink-4;
}

.toggle input[type='checkbox']:focus + .toggle__label::before {
  border: 2px solid $neutral-3;
}

.toggle input[type='checkbox']:disabled + .toggle__label::before {
  background-color: $neutral-6;
}

.toggle input[type='checkbox']:disabled + .toggle__label::after {
  background-color: $neutral-9;
}

.toggle input[type='checkbox'] {
  opacity: 0;
}
