@import '../../styles/colors';

// TODO Do something with sidebar on smaller screen sizes

.page-title {
  color: $neutral-3;
  margin: 0;
  line-height: 1;
  font-size: 1.6rem;
  border-bottom: 1px solid $supporting-indigo-7;
  padding-right: 1.5rem;
  display: inline-block;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.page-content__container {
  height: inherit;
  display: flex;
  padding: 2rem;
  margin: auto;
  justify-content: center;
  overflow-x: scroll;
  width: 100%;

  .side-panel {
    background-color: white;
    flex: 0 0 18rem;
    margin: 0 1rem;
    overflow-y: scroll;
    border-radius: 4px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    order: 0;
  }

  .editor {
    order: 1;
    flex: 6;
    background-color: white;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    margin: 0 1rem;
    min-height: 75vh;
    height: inherit;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }

  .page-content__spacer {
    content: '';
    order: 2;
    flex: 0 0 18rem;
    height: 100%;
    margin: 0 1rem;
  }
}

@media (max-width: 1450px) {
  .page-content__spacer {
    display: none;
  }
}
