@import '../../styles/colors';

.page-title {
  color: $neutral-3;
  margin: 0;
  line-height: 1;
  font-size: 1.6rem;
  border-bottom: 1px solid $supporting-indigo-7;
  padding-right: 1.5rem;
  display: inline-block;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.page-content__container {
  height: inherit;
  display: flex;
  padding: 2rem;

  .side-panel {
    background-color: white;
    flex: 1;
    margin: 0 1rem;
    overflow-y: scroll;
    border-radius: 4px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    order: 0;
  }

  .editor {
    order: 1;
    flex: 3;
    background-color: white;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    margin: 0 1rem;
    min-height: 75vh;
    height: inherit;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }

  .page-content__spacer {
    order: 2;
    flex: 1;
    height: 100%;
    margin: 0 1rem;
  }
}
