@import '../../../../styles/colors';
@import '../../../../styles/mixins';

.side-drawer-contents__add-ava-container {
  border: 2px dashed $neutral-4;
  padding: 1rem 0.5rem 1rem 0.5rem;

  button {
    @include vertically-horizontally-center;
    margin-left: 0;
  }
}

.side-drawer-contents__add-ava-title {
  color: $neutral-9;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.side-drawer-contents__add-ava-inputs {
  display: flex;

  div:first-of-type {
    margin-right: 0.25rem;
  }
}

.list-item-header {
  margin-top: 0.5rem;
  text-transform: uppercase;
  color: $neutral-0;
}

.list-item-ava__sectorial {
  flex: 4;
}

.list-item-ava__ava {
  text-align: center;
  flex: 1;
}

.list-item-ava__delete-button {
  text-align: right;
  flex: 1;
}
