@import '../../styles/colors';

.section-heading {
  font-size: 1.2rem;
  color: $neutral-1;
  display: inline-block;
  padding-right: 1.25rem;
  border-bottom: 1px solid $neutral-4;
}

.section-heading--page {
  color: $neutral-4;
  border-bottom-color: $primary-cyan-5;
}

.section-heading--side-drawer {
  color: $neutral-8;
  border-bottom-color: $supporting-pink-7;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
