@import './colors.scss';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 16px;
}

body {
  box-sizing: border-box;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $neutral-0;
}

// .App {
//   // min-height: 75vh;
//   height: 75vh;
// }

.icon {
  fill: $neutral-1;
}

.icon--primary {
  fill: $supporting-yellow-0;
}

.icon--secondary {
  fill: $supporting-indigo-0;
}

.icon--transparent {
  fill: $supporting-pink-0;
}

.icon--disabled {
  fill: $neutral-4;
}
