.side-drawer-contents__stat-input {
  margin: 0;
  margin-bottom: 1rem;
}

.side-drawer-contents__stat-input-row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .checkbox {
    margin-top: 0.5rem;
    margin-right: 1rem;
  }

  .select-input {
    width: 8rem;
  }
}

.side-drawer-contents__stat-input-row--group {
  margin-bottom: 0.5rem;
}
