.side-drawer-contents__stat-input {
  margin: 0;
}

.side-drawer-contents__stat-input-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.25rem;

  .checkbox {
    margin-top: 0.5rem;
    margin-right: 1rem;
  }

  .select-input {
    width: 8rem;
  }
}
