$primary-cyan-1: #044e54;
$primary-cyan-2: #0a6c74;
$primary-cyan-3: #0e7c86;
$primary-cyan-4: #14919b;
$primary-cyan-5: #2cb1bc;
$primary-cyan-6: #38bec9;
$primary-cyan-7: #54d1db;
$primary-cyan-8: #87eaf2;
$primary-cyan-9: #bef8fd;
$primary-cyan-0: #e0fcff;

$neutral-1: #102a43;
$neutral-2: #243b53;
$neutral-3: #334e68;
$neutral-4: #486581;
$neutral-5: #627d98;
$neutral-6: #829ab1;
$neutral-7: #9fb3c8;
$neutral-8: #bcccdc;
$neutral-9: #d9e2ec;
$neutral-0: #f0f4f8;

$supporting-indigo-1: #19216c;
$supporting-indigo-2: #2d3a8c;
$supporting-indigo-3: #35469c;
$supporting-indigo-4: #4055a8;
$supporting-indigo-5: #4c63b6;
$supporting-indigo-6: #647acb;
$supporting-indigo-7: #7b93db;
$supporting-indigo-8: #98aeeb;
$supporting-indigo-9: #bed0f7;
$supporting-indigo-0: #e0e8f9;

$supporting-pink-1: #5c0b33;
$supporting-pink-2: #781244;
$supporting-pink-3: #9b1b5a;
$supporting-pink-4: #ad2167;
$supporting-pink-5: #c42d78;
$supporting-pink-6: #da4a91;
$supporting-pink-7: #e668a7;
$supporting-pink-8: #f191c1;
$supporting-pink-9: #fab8d9;
$supporting-pink-0: #ffe0f0;

$supporting-red-1: #610404;
$supporting-red-2: #780a0a;
$supporting-red-3: #911111;
$supporting-red-4: #a61b1b;
$supporting-red-5: #ba2525;
$supporting-red-6: #d64545;
$supporting-red-7: #e66a6a;
$supporting-red-8: #f29b9b;
$supporting-red-9: #facdcd;
$supporting-red-0: #ffeeee;

$supporting-yellow-1: #513c06;
$supporting-yellow-2: #7c5e10;
$supporting-yellow-3: #a27c1a;
$supporting-yellow-4: #c99a2e;
$supporting-yellow-5: #e9b949;
$supporting-yellow-6: #f7d070;
$supporting-yellow-7: #f9da8b;
$supporting-yellow-8: #f8e3a3;
$supporting-yellow-9: #fcefc7;
$supporting-yellow-0: #fffaeb;
