@import '../../styles/colors';

.toast {
  align-items: flex-start;
  border-radius: 4px;
  display: flex;
  padding: 1rem;

  &:not(:last-child) {
    margin: 0 0 0.5rem;
  }

  .toast__content {
    flex: 1 1 auto;
    margin: 0 0.5rem 0 0;
  }

  .toast__delete-icon {
    font-size: 1.2rem;
  }
}

.toasts {
  bottom: 1rem;
  position: fixed;
  right: 1rem;
  width: 16rem;
  z-index: 20;
}

.toast--info {
  background-color: $primary-cyan-4;
  color: $primary-cyan-0;
}

.toast--warn {
  background-color: $supporting-yellow-5;
  color: $supporting-red-6;
}

.toast--danger {
  background-color: $supporting-red-3;
  color: $supporting-yellow-0;
}
