@import '../../styles/colors';

// TODO Do something with sidebar on smaller screen sizes

.top-row {
  margin: 2rem 3rem 0 3rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  h1 {
    color: $neutral-4;
    text-transform: uppercase;
    margin: 0;
    padding-right: 1.5rem;
    font-size: 1.6rem;
    display: inline-block;
    border-bottom: 3px solid $supporting-pink-6;
    letter-spacing: -1px;
  }
}

.page-content__container {
  height: auto;
  display: flex;
  padding: 2rem;
  padding-top: 1rem;
  margin: auto;
  justify-content: center;
  overflow-x: scroll;
  width: 100%;

  .side-panel {
    background-color: white;
    flex: 0 0 18rem;
    margin: 0 1rem;
    overflow-y: scroll;
    border-radius: 4px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    order: 0;
  }

  .editor {
    order: 1;
    flex: 6;
    background-color: white;
    border-radius: 4px;
    padding: 0.5rem 1rem 1rem 1rem;
    margin: 0 1rem;
    min-height: 75vh;
    height: inherit;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
}

.editor-content {
  display: flex;
  flex-direction: column;
  height: 100%;

  .editor-content__main {
    flex-grow: 1;
  }

  .danger-zone {
    justify-self: flex-end;
    align-self: flex-end;
    border: 2px dashed $neutral-7;
    padding: 2rem 1rem 1.5rem 1rem;
    width: fit-content;

    h2 {
      background: white;
      margin-top: -3rem;
      display: block;
      width: fit-content;
      padding: 0 0.5rem;
      color: $neutral-4;
    }

    .danger-zone__content {
      margin-top: 1rem;
      display: flex;
      align-items: center;
      color: $neutral-1;
      padding-left: 1rem;
    }
  }
}
