@import '../../styles/mixins.scss';
@import '../../styles/colors.scss';

.button {
  @include clear-button-defaults;
  text-align: center;
  padding: 0.5rem 2rem;
  transition: all 100ms linear;
  background-color: $neutral-9;
  color: $neutral-1;
  display: inline-block;

  &:hover {
    background-color: $neutral-8;
    transform: translate3d(0, -0.05rem, 0);
    transition: all 100ms linear;
  }

  &:active {
    transition: all 100ms linear;
    transform: translate3d(0, 0.05rem, 0);
  }

  &.button--primary {
    background-color: $supporting-pink-4;
    color: $supporting-yellow-0;
    border-color: $primary-cyan-7;
  }

  &.button--primary:hover {
    background-color: $supporting-pink-5;
    color: $supporting-yellow-0;
  }

  &.button--primary:focus {
    outline: 1px solid $primary-cyan-7;
    text-decoration: underline;
  }

  &.button--secondary {
    background-color: $neutral-4;
    color: $supporting-indigo-0;
    border-color: $supporting-pink-8;
  }

  &.button--secondary:hover {
    background-color: $neutral-5;
  }

  &.button--secondary:focus {
    outline: 1px solid $supporting-pink-8;
    text-decoration: underline;
  }

  &.button--transparent-dark {
    background-color: inherit;
    color: $primary-cyan-9;
  }

  &.button--transparent-dark:focus {
    outline: 1px solid $primary-cyan-9;
    text-decoration: underline;
  }

  &.button--transparent-light {
    background-color: inherit;
    color: $primary-cyan-3;
  }

  &.button--transparent-light:focus {
    outline: 1px solid $primary-cyan-3;
    text-decoration: underline;
  }

  &.button--transparent-dark:hover,
  &.button--transparent-light:hover {
    transition: all 100ms linear;
    transform: translate3d(0, -0.05rem, 0);
  }

  &.button--transparent-dark:active,
  &.button--transparent-dark:active {
    transition: all 100ms linear;
    transform: translate3d(0, 0.05rem, 0);
    text-decoration: underline;
  }

  &.button--delete-ghost {
    background: transparent;
    color: $supporting-red-6;
    border: 1px solid $supporting-red-6;
  }

  &.button--delete-ghost:hover {
    background: $supporting-red-6;
    color: $supporting-red-0;
    border: none;
  }

  &.button--delete-ghost:focus {
    text-decoration: underline;
  }

  &.button--delete-light {
    background-color: inherit;
    color: $supporting-red-6;
    padding: 0;
    margin: 0;
  }

  &.button--delete-light:active {
    color: $supporting-red-6;
    transform: none;
  }

  &.button--delete-light:focus {
    transform: scale(1.2);
    color: $supporting-red-5;
  }

  &.button--delete-dark {
    background-color: inherit;
    color: $supporting-red-8;
    padding: 0;
    margin: 0;
  }

  &.button--delete-dark:active {
    color: $supporting-red-8;
    transform: none;
  }

  &.button--delete-dark:focus {
    transform: scale(1.2);
    color: $supporting-red-7;
  }

  &.button--delete-light:hover,
  &.button--delete-dark:hover {
    transform: scale(1.2);
  }

  &:disabled {
    background-color: $neutral-7;
    color: $neutral-4;
    transform: none;
    cursor: auto;
  }

  &:disabled:hover {
    background-color: $neutral-7;
    color: $neutral-4;
    transform: none;
    cursor: auto;
  }
}
