@import '../../styles/colors';
@import '../../styles/mixins';

.menu__container {
  @include vertically-horizontally-center;
  .menu {
    background-color: $neutral-3;
    color: $neutral-8;
    display: inline-block;
    padding: 0.5rem 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 3px 6px #00000029, 0 3px 6px rgba(0, 0, 0, 0.23);
  }

  a,
  a:visited,
  a:hover {
    text-decoration: none;
    color: inherit;
  }

  .menu__item {
    margin-right: 2rem;
    margin-left: 2rem;
    cursor: pointer;
  }

  .menu__item:after {
    position: absolute;
    bottom: -3px;
    left: -10%;
    content: '';
    height: 3px;
    width: 0%;
    border-radius: 4px;
    background-color: $supporting-pink-5;
    transition: width 300ms linear;
  }

  .menu__item--active {
    position: relative;
    pointer-events: none;
  }

  .menu__item--active:after {
    width: 120%;
  }

  .menu__item:hover {
    color: $neutral-9;
  }
}

.nav-link--active {
  pointer-events: none;
}
